.leaflet-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: auto;
  z-index: 1;
}

.title {
  opacity: 0.85;
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  margin-top: 10px;
  padding: 12px;
  left: 50%;
  transform: translate(-50%);
  background-color: black;
  color: white;
  font-size: calc(15px + 1vw);
}

.legendBox {
  opacity: 0.85;
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  padding: 12px;
  right: 0%;
  bottom: 50%;
  transform: translate(0%, +50%);
  margin-right: 10px;
  background-color: black;
  color: white;
  font-size: calc(8px + 0.5vw);
}

@media screen and (max-width: 600px) {
  .legendBox {
    bottom: 0%;
    margin-bottom: 30px;
    transform: translate(0%, 0%);
  }
}

.legend {
  display: grid;
  line-height: 1.8em;
  grid: repeat(10, 1fr) / auto auto;
  column-gap: 10px;
  margin-bottom: 10px;
}

.legendInfo {
  text-align: center;
  color: #bfbfbf;
}

.legendEntry {
  width: calc(10px + 1vw);
}

.authorBox {
  opacity: 0.85;
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  padding: 8px;
  left: 0%;
  bottom: 0%;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  font-size: calc(10px + 0.5vw);
}

.authorBox:hover {
  /* transform: scale(1.3);
  transition: transform 0.2s; */
  border: 2px solid #6FFFB0;
  transition: border 0.7s;
}

a {
  text-decoration: none;
  color: white;
}

.tileInfoBox {
  position: absolute;
  width: 200px;
  height: 300px;
  z-index: 2;
  border-radius: 20px;
  padding: 12px;
  right: 0%;
  top: 10%;
  margin-right: 10px;
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}